.copyright
    - var licenseUrl = "https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh";
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/pinggod/hexo-theme-apollo";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p 本站点采用#[a(href=licenseUrl, target="_blank") #[u 知识共享 署名-非商业性使用-禁止演绎 4.0 国际许可协议]]
    p 本站点基于#[a(href=hexoURL, target="_blank") Hexo]，采用主题#[a(href=apolloURL, target="_blank") hexo-theme-apollo]。<span id=busuanzi_container_site_uv>本站总访问量<span id=busuanzi_value_site_uv></span> 次</span> - © #{year}

//#[a(href=config.url)!= config.author],